In [1]:
import pandas as pd 
import numpy as np

In [2]:
df_skills=pd.read_excel('/Users/dasha/Documents/Capstone_2_files/R_files/Skills.xlsx')
df_abilities=pd.read_excel('/Users/dasha/Documents/Capstone_2_files/R_files/Abilities.xlsx')
df_interests=pd.read_excel('/Users/dasha/Documents/Capstone_2_files/R_files/Interests.xlsx')
df_knowledge=pd.read_excel('/Users/dasha/Documents/Capstone_2_files/R_files/Knowledge.xlsx')
df_activities=pd.read_excel('/Users/dasha/Documents/Capstone_2_files/R_files/Work Activities.xlsx')
df_context=pd.read_excel('/Users/dasha/Documents/Capstone_2_files/R_files/Work Context.xlsx')

In [3]:
df_occu_data=pd.read_excel('/Users/dasha/Documents/Capstone_2_files/R_files/Occupation Data.xlsx')
df_tools=pd.read_excel('/Users/dasha/Documents/Capstone_2_files/R_files/Tools and Technology.xlsx')
df_alt_titles=pd.read_excel('/Users/dasha/Documents/Capstone_2_files/R_files/Alternate Titles.xlsx')

In [4]:
# dropping unnecessary columns 
prefixes=['skills','abilities','interests','knowledge','acitivity','context']
df_list=[df_skills,df_abilities,df_interests,df_knowledge,df_activities,df_context]

def dropper(df,prefix): 
    irrelevant_columns=['N','Element ID','Scale ID','Recommend Suppress','Date','Domain Source']
    for column in df.columns: 
        if column in irrelevant_columns: 
            df.drop(columns=column,inplace=True)
        df['category']=prefix

In [5]:
[dropper(df,(prefixes[idx])) for idx,df in enumerate(df_list)]

[None, None, None, None, None, None]

In [6]:
df_skills.head()

,O*NET-SOC Code,Title,Element Name,Scale Name,Data Value,Standard Error,Lower CI Bound,Upper CI Bound,Not Relevant,category
0,11-1011.00,Chief Executives,Reading Comprehension,Importance,4.12,0.13,3.88,4.37,NaN,skills
1,11-1011.00,Chief Executives,Reading Comprehension,Level,4.75,0.16,4.43,5.07,N,skills
2,11-1011.00,Chief Executives,Active Listening,Importance,4.12,0.13,3.88,4.37,NaN,skills
3,11-1011.00,Chief Executives,Active Listening,Level,4.88,0.23,4.43,5.32,N,skills
4,11-1011.00,Chief Executives,Writing,Importance,4.00,0.00,4.00,4.00,NaN,skills

In [7]:
df_abilities.head()

,O*NET-SOC Code,Title,Element Name,Scale Name,Data Value,Standard Error,Lower CI Bound,Upper CI Bound,Not Relevant,category
0,11-1011.00,Chief Executives,Oral Comprehension,Importance,4.50,0.19,4.13,4.87,NaN,abilities
1,11-1011.00,Chief Executives,Oral Comprehension,Level,4.88,0.13,4.63,5.12,N,abilities
2,11-1011.00,Chief Executives,Written Comprehension,Importance,4.25,0.16,3.93,4.57,NaN,abilities
3,11-1011.00,Chief Executives,Written Comprehension,Level,4.62,0.18,4.27,4.98,N,abilities
4,11-1011.00,Chief Executives,Oral Expression,Importance,4.38,0.18,4.02,4.73,NaN,abilities

In [8]:
pd.concat(df_list,axis=0)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  """Entry point for launching an IPython kernel.

,Category,Data Value,Element Name,Lower CI Bound,Not Relevant,O*NET-SOC Code,Scale Name,Standard Error,Title,Upper CI Bound,category
0,NaN,4.12,Reading Comprehension,3.88,NaN,11-1011.00,Importance,0.13,Chief Executives,4.37,skills
1,NaN,4.75,Reading Comprehension,4.43,N,11-1011.00,Level,0.16,Chief Executives,5.07,skills
2,NaN,4.12,Active Listening,3.88,NaN,11-1011.00,Importance,0.13,Chief Executives,4.37,skills
3,NaN,4.88,Active Listening,4.43,N,11-1011.00,Level,0.23,Chief Executives,5.32,skills
4,NaN,4.00,Writing,4.00,NaN,11-1011.00,Importance,0.00,Chief Executives,4.00,skills
5,NaN,4.38,Writing,4.02,N,11-1011.00,Level,0.18,Chief Executives,4.73,skills
6,NaN,4.38,Speaking,4.02,NaN,11-1011.00,Importance,0.18,Chief Executives,4.73,skills
7,NaN,4.88,Speaking,4.63,N,11-1011.00,Level,0.13,Chief Executives,5.12,skills
8,NaN,3.25,Mathematics,2.93,NaN,11-1011.00,Importance,0.16,Chief Executives,3.57,skills
9,NaN,3.62,Mathematics,3.11,N,11-1011.00,Level,0.26,Chief Executives,4.14,skills
10,NaN,1.88,Science,1.63,NaN,11-1011.00,Importance,0.13,Chief Executives,2.12,skills
11,NaN,1.12,Science,0.68,N,11-1011.00,Level,0.23,Chief Executives,1.57,skills
12,NaN,4.38,Critical Thinking,4.02,NaN,11-1011.00,Importance,0.18,Chief Executives,4.73,skills
13,NaN,4.75,Critical Thinking,4.43,N,11-1011.00,Level,0.16,Chief Executives,5.07,skills
14,NaN,4.00,Active Learning,4.00,NaN,11-1011.00,Importance,0.00,Chief Executives,4.00,skills
15,NaN,4.75,Active Learning,4.43,N,11-1011.00,Level,0.16,Chief Executives,5.07,skills
16,NaN,3.12,Learning Strategies,2.88,NaN,11-1011.00,Importance,0.13,Chief Executives,3.37,skills
17,NaN,3.88,Learning Strategies,3.63,N,11-1011.00,Level,0.13,Chief Executives,4.12,skills
18,NaN,4.12,Monitoring,3.88,NaN,11-1011.00,Importance,0.13,Chief Executives,4.37,skills
19,NaN,5.50,Monitoring,5.13,N,11-1011.00,Level,0.19,Chief Executives,5.87,skills
20,NaN,4.25,Social Perceptiveness,3.93,NaN,11-1011.00,Importance,0.16,Chief Executives,4.57,skills
21,NaN,4.25,Social Perceptiveness,3.93,N,11-1011.00,Level,0.16,Chief Executives,4.57,skills
22,NaN,4.25,Coordination,3.93,NaN,11-1011.00,Importance,0.16,Chief Executives,4.57,skills
23,NaN,5.12,Coordination,4.68,N,11-1011.00,Level,0.23,Chief Executives,5.57,skills
24,NaN,4.12,Persuasion,3.88,NaN,11-1011.00,Importance,0.13,Chief Executives,4.37,skills
25,NaN,5.00,Persuasion,5.00,N,11-1011.00,Level,0.00,Chief Executives,5.00,skills
26,NaN,4.12,Negotiation,3.88,NaN,11-1011.00,Importance,0.13,Chief Executives,4.37,skills
27,NaN,4.62,Negotiation,4.27,N,11-1011.00,Level,0.18,Chief Executives,4.98,skills
28,NaN,3.12,Instructing,2.88,NaN,11-1011.00,Importance,0.13,Chief Executives,3.37,skills
29,NaN,3.88,Instructing,3.63,N,11-1011.00,Level,0.13,Chief Executives,4.12,skills
...,...,...,...,...,...,...,...,...,...,...,...
326516,2.0,6.18,Structured versus Unstructured Work,0.63,NaN,53-7121.00,Context (Categories 1-5),6.32,"Tank Car, Truck, and Ship Loaders",40.58,context
326517,3.0,0.00,Structured versus Unstructured Work,NaN,NaN,53-7121.00,Context (Categories 1-5),0.00,"Tank Car, Truck, and Ship Loaders",NaN,context
326518,4.0,51.78,Structured versus Unstructured Work,15.74,NaN,53-7121.00,Context (Categories 1-5),20.36,"Tank Car, Truck, and Ship Loaders",86.05,context
326519,5.0,39.27,Structured versus Unstructured Work,10.45,NaN,53-7121.00,Context (Categories 1-5),19.03,"Tank Car, Truck, and Ship Loaders",78.17,context
326520,NaN,3.58,Level of Competition,3.02,NaN,53-7121.00,Context,0.26,"Tank Car, Truck, and Ship Loaders",4.14,context
326521,1.0,4.93,Level of Competition,0.50,NaN,53-7121.00,Context (Categories 1-5),5.13,"Tank Car, Truck, and Ship Loaders",34.86,context
326522,2.0,1.28,Level of Competition,0.12,NaN,53-7121.00,Context (Categories 1-5),1.43,"Tank Car, Truck, and Ship Loaders",12.69,context
326523,3.0,51.83,Level of Competition,33.21,NaN,53-7121.00,Context (Categories 1-5),9.04,"Tank Car, Truck, and Ship Loaders",69.96,context
326524,4.0,15.09,Level of Competition,2.66,NaN,53-7121.00,Context (Categories 1-5),11.25,"Tank Car, Truck, and Ship Loaders",53.58,context
326525,5.0,26.87,Level of Competition,8.49,NaN,53-7121.00,Context (Categories 1-5),12.69,"Tank Car, Truck, and Ship Loaders",59.28,context
326526,NaN,4.27,Time Pressure,3.22,NaN,53-7121.00,Context,0.49,"Tank Car, Truck, and Ship Loaders",5.00,context
326527,1.0,4.93,Time Pressure,0.50,NaN,53-7121.00,Context (Categories 1-5),5.13,"Tank Car, Truck, and Ship Loaders",34.86,context
326528,2.0,14.60,Time Pressure,1.82,NaN,53-7121.00,Context (Categories 1-5),12.99,"Tank Car, Truck, and Ship Loaders",61.19,context
326529,3.0,0.00,Time Pressure,NaN,NaN,53-7121.00,Context (Categories 1-5),0.00,"Tank Car, Truck, and Ship Loaders",NaN,context
326530,4.0,9.59,Time Pressure,1.78,NaN,53-7121.00,Context (Categories 1-5),7.20,"Tank Car, Truck, and Ship Loaders",38.36,context
326531,5.0,70.88,Time Pressure,27.52,NaN,53-7121.00,Context (Categories 1-5),17.99,"Tank Car, Truck, and Ship Loaders",93.98,context
326532,NaN,4.03,Pace Determined by Speed of Equipment,3.54,NaN,53-7121.00,Context,0.23,"Tank Car, Truck, and Ship Loaders",4.51,context
326533,1.0,4.93,Pace Determined by Speed of Equipment,0.50,NaN,53-7121.00,Context (Categories 1-5),5.13,"Tank Car, Truck, and Ship Loaders",34.86,context
326534,2.0,3.33,Pace Determined by Speed of Equipment,0.32,NaN,53-7121.00,Context (Categories 1-5),3.57,"Tank Car, Truck, and Ship Loaders",26.81,context
326535,3.0,29.26,Pace Determined by Speed of Equipment,11.08,NaN,53-7121.00,Context (Categories 1-5),11.65,"Tank Car, Truck, and Ship Loaders",57.86,context
326536,4.0,8.91,Pace Determined by Speed of Equipment,0.87,NaN,53-7121.00,Context (Categories 1-5),9.19,"Tank Car, Truck, and Ship Loaders",52.24,context
326537,5.0,53.57,Pace Determined by Speed of Equipment,33.36,NaN,53-7121.00,Context (Categories 1-5),9.75,"Tank Car, Truck, and Ship Loaders",72.68,context
326538,NaN,1.30,Work Schedules,1.05,NaN,53-7121.00,Context,0.12,"Tank Car, Truck, and Ship Loaders",1.55,context
326539,1.0,71.48,Work Schedules,41.44,NaN,53-7121.00,Context (Categories 1-3),12.10,"Tank Car, Truck, and Ship Loaders",89.88,context
326540,2.0,27.24,Work Schedules,8.86,NaN,53-7121.00,Context (Categories 1-3),12.54,"Tank Car, Truck, and Ship Loaders",59.05,context
326541,3.0,1.28,Work Schedules,0.12,NaN,53-7121.00,Context (Categories 1-3),1.43,"Tank Car, Truck, and Ship Loaders",12.69,context
326542,NaN,2.76,Duration of Typical Work Week,2.44,NaN,53-7121.00,Context,0.15,"Tank Car, Truck, and Ship Loaders",3.00,context
326543,1.0,0.00,Duration of Typical Work Week,NaN,NaN,53-7121.00,Context (Categories 1-3),0.00,"Tank Car, Truck, and Ship Loaders",NaN,context
326544,2.0,23.54,Duration of Typical Work Week,4.73,NaN,53-7121.00,Context (Categories 1-3),15.42,"Tank Car, Truck, and Ship Loaders",65.65,context
326545,3.0,76.46,Duration of Typical Work Week,34.35,NaN,53-7121.00,Context (Categories 1-3),15.42,"Tank Car, Truck, and Ship Loaders",95.27,context