In [1]:
#Step 1: importing all necessary packages

In [2]:
import json
import pandas as pd 
import numpy as np

In [3]:
#Step 2: creating the dataframe out of json file

In [4]:
df=pd.read_json('/Users/dasha/Documents/world_bank_projects.json')

In [5]:
df.head()

,_id,approvalfy,board_approval_month,boardapprovaldate,borrower,closingdate,country_namecode,countrycode,countryname,countryshortname,...,sectorcode,source,status,supplementprojectflg,theme1,theme_namecode,themecode,totalamt,totalcommamt,url
0,{'$oid': '52b213b38594d8a2be17c780'},1999,November,2013-11-12T00:00:00Z,FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA,2018-07-07T00:00:00Z,Federal Democratic Republic of Ethiopia!$!ET,ET,Federal Democratic Republic of Ethiopia,Ethiopia,...,"ET,BS,ES,EP",IBRD,Active,N,"{'Percent': 100, 'Name': 'Education for all'}","[{'code': '65', 'name': 'Education for all'}]",65,130000000,130000000,http://www.worldbank.org/projects/P129828/ethi...
1,{'$oid': '52b213b38594d8a2be17c781'},2015,November,2013-11-04T00:00:00Z,GOVERNMENT OF TUNISIA,NaN,Republic of Tunisia!$!TN,TN,Republic of Tunisia,Tunisia,...,"BZ,BS",IBRD,Active,N,"{'Percent': 30, 'Name': 'Other economic manage...","[{'code': '24', 'name': 'Other economic manage...","54,24",0,4700000,http://www.worldbank.org/projects/P144674?lang=en
2,{'$oid': '52b213b38594d8a2be17c782'},2014,November,2013-11-01T00:00:00Z,MINISTRY OF FINANCE AND ECONOMIC DEVEL,NaN,Tuvalu!$!TV,TV,Tuvalu,Tuvalu,...,TI,IBRD,Active,Y,"{'Percent': 46, 'Name': 'Regional integration'}","[{'code': '47', 'name': 'Regional integration'...","52,81,25,47",6060000,6060000,http://www.worldbank.org/projects/P145310?lang=en
3,{'$oid': '52b213b38594d8a2be17c783'},2014,October,2013-10-31T00:00:00Z,MIN. OF PLANNING AND INT'L COOPERATION,NaN,Republic of Yemen!$!RY,RY,Republic of Yemen,"Yemen, Republic of",...,JB,IBRD,Active,N,"{'Percent': 50, 'Name': 'Participation and civ...","[{'code': '57', 'name': 'Participation and civ...","59,57",0,1500000,http://www.worldbank.org/projects/P144665?lang=en
4,{'$oid': '52b213b38594d8a2be17c784'},2014,October,2013-10-31T00:00:00Z,MINISTRY OF FINANCE,2019-04-30T00:00:00Z,Kingdom of Lesotho!$!LS,LS,Kingdom of Lesotho,Lesotho,...,"FH,YW,YZ",IBRD,Active,N,"{'Percent': 30, 'Name': 'Export development an...","[{'code': '45', 'name': 'Export development an...","41,45",13100000,13100000,http://www.worldbank.org/projects/P144933/seco...

In [6]:
df.columns

Index(['_id', 'approvalfy', 'board_approval_month', 'boardapprovaldate',
       'borrower', 'closingdate', 'country_namecode', 'countrycode',
       'countryname', 'countryshortname', 'docty', 'envassesmentcategorycode',
       'grantamt', 'ibrdcommamt', 'id', 'idacommamt', 'impagency',
       'lendinginstr', 'lendinginstrtype', 'lendprojectcost',
       'majorsector_percent', 'mjsector_namecode', 'mjtheme',
       'mjtheme_namecode', 'mjthemecode', 'prodline', 'prodlinetext',
       'productlinetype', 'project_abstract', 'project_name', 'projectdocs',
       'projectfinancialtype', 'projectstatusdisplay', 'regionname', 'sector',
       'sector1', 'sector2', 'sector3', 'sector4', 'sector_namecode',
       'sectorcode', 'source', 'status', 'supplementprojectflg', 'theme1',
       'theme_namecode', 'themecode', 'totalamt', 'totalcommamt', 'url'],
      dtype='object')

In [7]:
# The country with the most projects will be determined based on the 'project_name' column. Firt only 
# 'countryshortname' and 'project_name' are extracted below

In [8]:
country_proj=df.loc[:,['countryshortname','project_name']]

In [9]:
print(country_proj.head())

     countryshortname                                       project_name
0            Ethiopia  Ethiopia General Education Quality Improvement...
1             Tunisia          TN: DTF Social Protection Reforms Support
2              Tuvalu  Tuvalu Aviation Investment Project - Additiona...
3  Yemen, Republic of   Gov't and Civil Society Organization Partnership
4             Lesotho  Second Private Sector Competitiveness and Econ...

In [10]:
#to check/get rid of duplicates

In [11]:
filtered_proj=country_proj.drop_duplicates()

In [12]:
#grouping the dataframe by 'countryshortname'

In [13]:
grouped_proj=filtered_proj.groupby('countryshortname')

In [14]:
#counting the amount of projects per country

In [15]:
counted_proj=grouped_proj['project_name'].count()

In [16]:
print(counted_proj.head(10))

countryshortname
Afghanistan             6
Africa                 11
Albania                 4
Angola                  1
Antigua and Barbuda     1
Argentina               2
Armenia                 8
Azerbaijan              4
Bangladesh             12
Belarus                 1
Name: project_name, dtype: int64

In [17]:
# Which country has the most projects??? sorting ...

In [18]:
counted_proj.sort_values(ascending=False).head(10)

countryshortname
Indonesia             19
China                 19
Vietnam               17
India                 16
Yemen, Republic of    13
Nepal                 12
Bangladesh            12
Morocco               12
Mozambique            11
Africa                11
Name: project_name, dtype: int64

In [19]:
# Indonesia seems to have the most projects...

In [20]:
#Now, which mjtheme is the most popular??? Creating a new dataframe from the original dataframe ...

In [21]:
theme_df=df.loc[:,['countryshortname','mjtheme_namecode']]

In [22]:
new_df=pd.DataFrame()
theme_bycon=theme_df.set_index('countryshortname')
print(theme_bycon.head(10))

                                                     mjtheme_namecode
countryshortname
Ethiopia            [{'code': '8', 'name': 'Human development'}, {...
Tunisia             [{'code': '1', 'name': 'Economic management'},...
Tuvalu              [{'code': '5', 'name': 'Trade and integration'...
Yemen, Republic of  [{'code': '7', 'name': 'Social dev/gender/incl...
Lesotho             [{'code': '5', 'name': 'Trade and integration'...
Kenya               [{'code': '6', 'name': 'Social protection and ...
India               [{'code': '2', 'name': 'Public sector governan...
China               [{'code': '11', 'name': 'Environment and natur...
India               [{'code': '10', 'name': 'Rural development'}, ...
Morocco             [{'code': '2', 'name': 'Public sector governan...

In [23]:
# To simplify things, creating a dataframe out of lists of dictionaries in 'mjtheme_namecode' column

In [24]:
for idx,lists in theme_bycon.mjtheme_namecode.iteritems(): 
        df3=pd.DataFrame(lists)
        df3['country']=idx 
        new_df=new_df.append(df3)
new_df=new_df.drop_duplicates()
new_df=new_df.set_index('country')
print(new_df.head(10))

                   code                                          name
country
Ethiopia              8                             Human development
Ethiopia             11
Tunisia               1                           Economic management
Tunisia               6         Social protection and risk management
Tuvalu                5                         Trade and integration
Tuvalu                2                      Public sector governance
Tuvalu               11  Environment and natural resources management
Tuvalu                6         Social protection and risk management
Yemen, Republic of    7                   Social dev/gender/inclusion
Lesotho               5                         Trade and integration

In [25]:
# Fixing those missing values in column 'name'

In [26]:
map_dict={}
for idx, code_name in new_df.iterrows():
    if code_name[0] not in map_dict.keys():
        if code_name[1]!='': 
            map_dict[code_name[0]]= code_name[1]
print (map_dict)

{'8': 'Human development', '1': 'Economic management', '6': 'Social protection and risk management', '5': 'Trade and integration', '2': 'Public sector governance', '11': 'Environment and natural resources management', '7': 'Social dev/gender/inclusion', '4': 'Financial and private sector development', '10': 'Rural development', '9': 'Urban development', '3': 'Rule of law'}

In [27]:
new_df['code name']=new_df['code'].map(map_dict)
new_df=new_df.drop('name', axis=1)
print(new_df.head(10))

                   code                                     code name
country
Ethiopia              8                             Human development
Ethiopia             11  Environment and natural resources management
Tunisia               1                           Economic management
Tunisia               6         Social protection and risk management
Tuvalu                5                         Trade and integration
Tuvalu                2                      Public sector governance
Tuvalu               11  Environment and natural resources management
Tuvalu                6         Social protection and risk management
Yemen, Republic of    7                   Social dev/gender/inclusion
Lesotho               5                         Trade and integration

In [28]:
assert new_df.notnull().all().all()

In [29]:
# SO which mjtheme was the most popular???

In [30]:
new_df_stats=new_df['code name'].value_counts(ascending=False)
new_df_stats

Environment and natural resources management    91
Public sector governance                        87
Financial and private sector development        81
Rural development                               81
Human development                               78
Social protection and risk management           70
Social dev/gender/inclusion                     68
Trade and integration                           46
Economic management                             31
Urban development                               31
Rule of law                                     14
Name: code name, dtype: int64